<div>
  <h1>
    Insomnia Severity Index
  </h1>

  <p>
    The Insomnia Severity Index has seven questions. The seven answers are added up to get a total score. When you have
    your total score, look at the 'Guidelines for Scoring/Interpretation' below to see where your sleep difficulty fits.
  </p>



  <form [formGroup]="isiForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="group">
        <h4>
          Please rate the CURRENT (i.e. LAST 2 WEEKS) SEVERITY of your insomnia problem(s).
        </h4>

        <label>
          Difficulty falling asleep:
        </label>

        <select
          class="form-control"
          formControlName="q1"
        >
        Choose option
          <option *ngFor="let option of Q1Q3Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
        </select>

        <span *ngIf="createForm.q1.touched && createForm.q1.pristine">
          Hey
        </span>

        <span
          *ngIf="submitted && createForm.q1.errors?.required"
        >
          This field is required
        </span>

        <label>
          Difficulty staying asleep:
        </label>

        <select
          class="form-control"
          formControlName="q2"
        >
          <option *ngFor="let option of Q1Q3Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
        </select>

        <span
          *ngIf="submitted && createForm.q2.errors?.required"
        >
          This field is required
        </span>

        <label>
          Problems waking up too early:
        </label>

        <select
          class="form-control"
          formControlName="q3"
        >
          <option *ngFor="let option of Q1Q3Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
        </select>

        <span
          *ngIf="submitted && createForm.q3.errors?.required"
        >
          This field is required
        </span>
      </div>

      <label>
        How SATISFIED/DISSATISFIED are you with your CURRENT sleep pattern?:
      </label>

      <select
        class="form-control"
        formControlName="q4"
      >
        <option *ngFor="let option of Q4Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
      </select>

      <span
        *ngIf="submitted && createForm.q4.errors?.required"
      >
        This field is required
      </span>

      <label>
        How NOTICEABLE to others do you think your sleep problem is in terms of impairing the quality of your life?:
      </label>

      <select
        class="form-control"
        formControlName="q5"
      >
        <option *ngFor="let option of Q5Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
      </select>

      <span
        *ngIf="submitted && createForm.q5.errors?.required"
      >
        This field is required
      </span>

      <label>
        How WORRIED/DISTRESSED are you about your current sleep problem?:
      </label>

      <select
        class="form-control"
        formControlName="q6"
      >
        <option *ngFor="let option of Q6Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
      </select>

      <span
        *ngIf="submitted && createForm.q6.errors?.required"
      >
        This field is required
      </span>

      <label>
        To what extent do you consider your sleep problem to INTERFERE with your daily functioning (e.g. daytime
        fatigue, mood, ability to function at work/daily chores, concentration, memory, mood, etc.) CURRENTLY?:
      </label>

      <select
        class="form-control"
        formControlName="q7"
      >
        <option *ngFor="let option of Q7Scale" [ngValue]="option.value" (change)="changeOption($event)">{{option.label}}</option>
      </select>

      <span
        *ngIf="submitted && createForm.q7.errors?.required"
      >
        This field is required
      </span>

      <label>
        Total:
      </label>

      <input
        class="form-control"
        [value]="total"
        disabled
      >
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-lg"
      style="background-color: black;"
    >
      Save
    </button>
  </form>
</div>
