
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <a routerLinkActive="active" routerLink="/create-index">
    <img
      width="200"
      alt="Noctem Logo"
      src="//img1.wsimg.com/isteam/ip/4f9c8d46-a66f-437c-a6fb-a03bfae8efb8/NOCTEM_Wordmark_DarkBG.png/:/rs=h:196/ll"
    />
  </a>

  <span>Insomnia Severity Index</span>

    <div class="spacer"></div>

    <nav>
      <a routerLinkActive="active" routerLink="/index-list">View Completed Indexes</a>
      <a routerLinkActive="active" routerLink="/create-index">Create New Index</a>
    </nav>
</div>

<div class="content" role="main">
  <div class="form-container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer>
  <span id="copywrite">&copy; {{year}} Eric Waight</span>
</footer>




